header {
    background-color: #f5eaefb1;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .social_media {
    display: flex;
    justify-content: space-between;
  }
  
  .social_media .button {
    background: none;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    
  
  }
  
  .social_media .button a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('path_to_your_icon_image/facebook-icon.png') no-repeat center center;
    background-size: cover;
  }
  
  .search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  .signing {
    display: flex;
  }
  
  .button_sign {
    background-color: #ac8cd6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button_sign:hover {
    background-color: #bb0cda;
  }


