
.event{
    display: flex;
    flex-direction: row;
  background-color: rgb(241, 237, 240);
  flex: 1 0 33%; 
  }
  .events_container {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  /* .event_wrapper {
    flex: 1 1 30%;
    margin: 10px;
  } */

  #HomePageEvents{
    padding-left: 17%;
  }
  
  .blocevent {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .blocevent img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .blocevent .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blocevent .info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .blocevent .info h3 {
    margin: 8px 0;
    font-size: 1.2em;
    color: #666;
  }
  
  .blocevent .info button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .blocevent .info button:hover {
    background-color: #0056b3;
  }
  